<!-- FOOTER -->
<footer class="footer pt-80">
    <div class="container text-center">
        <p>Get in touch with me</p>
          <ul class="social">
              <li><a target="_blank" href="https://www.linkedin.com/in/julien-cornuel-492a85a0?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square fa-2x"></i></a></li>
          </ul>
    </div>

    <hr />

    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
        <div class="container">
            <p class="">
                © 2015 <a><b>Julien Cornuel</b></a>. All Rights Reserved.
                <br />
                <br>
                <small><i class="fa fa-code" aria-hidden="true"></i>  by <a target="_blank" href="http://guillaumecaulier.com/"><b>Guillaume Caulier</b></a></small>
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->
