<!-- FOOTER -->
<footer class="footer">
    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
        <div class="container">
            <p class="">
                © 2015 <a><b>Julien Cornuel</b></a>. All Rights Reserved.
                <br />
                <br>
                <small><i class="fa fa-code" aria-hidden="true"></i>  by <a target="_blank" href="http://guillaumecaulier.com/"><b>Guillaume Caulier</b></a></small>
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->

<!-- Scroll Top -->
<a class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- End Scroll Top -->
