<!-- Site Wraper -->
<div class="wrapper">

<!-- HEADER -->
<header class="header">
    <div class="container">
        <!-- logo -->
        <div class="logo">
            <a href="index.html">
                <h3>Julien Cornuel</h3>
            </a>
        </div>
        <!--End logo-->
        <nav class='navigation'>
            <ul>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                  <a href="https://soundsgood.co/curator/julien-cornuel" target="_blank"><span lang="en">Playlist</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- END HEADER -->
</div>
