<!-- Site Wraper -->
<div class="wrapper">

<!-- HEADER -->
<header class="header">
    <div class="container">
        <!-- logo -->
        <div class="logo">
            <a href="">
                <h3>Julien Cornuel</h3>
            </a>
        </div>
        <!--End logo-->
    </div>
</header>
<!-- END HEADER -->
