---
title: Julien Cornuel
---

<!-- Preloader -->
<section id="preloader">
    <div class="loader" id="loader">
        <div class="loader-img"></div>
    </div>
</section>
<!-- End Preloader -->


<!-- Intro Section -->
<section class="inner-intro  overlay-light parallax ">
    <div class="container">
        <div class="row title">
            <h2 class="h2">Superviseur Musical & Sound Designer</h2>
            <div class="page-breadcrumb">

            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- End Intro Section -->



<!-- Work Detail Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <!-- work Filter -->
        <div class="row">
            <ul class="container-filter categories-filter">
                <li><a class="categories active" data-filter="*">All</a></li>
                <li><a class="categories" data-filter=".mix">mix</a></li>
                <li><a class="categories" data-filter=".sync">sync</a></li>
                <li><a class="categories" data-filter=".originalscore">original-score</a></li>
                <li><a class="categories" data-filter=".tvcommercial">tv-commercial</a></li>
            </ul>
        </div>
        <!-- End work Filter -->
        <div class="row container-masonry nf-col-3">

            <div class="nf-item mix spacing">
                <div class="item-box">
                    <a href="#" data-featherlight="#fl1">
                        <iframe class="lightbox" src="//player.vimeo.com/video/161189328?title=0&byline=0&portrait=0" width="980" height="551" frameborder="0" id="fl1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        <img alt="1" src="images/oxelo-1.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Oxelo - Reverse</h5>
                                <p class="white">#sound-design #music-supervision #mix</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item originalscore mix spacing">
                <div class="item-box">
                    <a href="#" data-featherlight="#fl2">
                        <iframe src="https://player.vimeo.com/video/153263799?title=0&byline=0&portrait=0" width="980" height="587" frameborder="0" id="fl2"webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        <img alt="1" src="images/philips.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Philips - BT6000</h5>
                                <p class="white">#sound-design #music-supervision #original-score #mix</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item originalscore photo spacing">
                <div class="item-box">
                    <a href="#" data-featherlight="#fl3">
                        <iframe src="https://player.vimeo.com/video/153262577?title=0&byline=0&portrait=0" width="980" height="551" frameborder="0" id="fl3" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        <img alt="1" src="images/ffhg.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">FFHG - New Logo</h5>
                                <p class="white">#sound-design #original-score</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



            <div class="nf-item originalscore mix spacing">
                <div class="item-box">
                    <a href="#" data-featherlight="#fl4">
                        <iframe src="https://player.vimeo.com/video/152261271?title=0&byline=0&portrait=0" width="980" height="551" frameborder="0" id="fl4" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        <img alt="1" src="images/reverso.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Jaeger Lecoultre - Reverso</h5>
                                <p class="white">#original-score #music supervision #sound design #mix</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item sync mix spacing">
                <div class="item-box">
                    <a href="#" data-featherlight="#fl5">
                        <iframe src="https://player.vimeo.com/video/150675118?title=0&byline=0&portrait=0" width="980" height="551" frameborder="0" id="fl5" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        <img alt="1" src="images/hermes.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Hermes - Les métiers du temps</h5>
                                <p class="white">#music supervision #sync #sound design #mix</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="nf-item tvcommercial sync spacing">
                <div class="item-box">
                    <a href="#" data-featherlight="#fl6">
                        <iframe src="https://player.vimeo.com/video/148604750?title=0&byline=0&portrait=0" width="980" height="551" frameborder="0" id="fl6" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                        <img alt="1" src="images/oxel-2.png" class="item-container">
                        <div class="item-mask">
                            <div class="item-caption">
                                <h5 class="white">Oxelo - Scooter Mid 7</h5>
                                <p class="white">#music supervision #sync #sound design #tv-commercial</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- End Work Detail Section -->
